[sgp40]

[mcu max]
# Uncomment "serial" if using USB, uncomment "canbus_uuid" if using CAN. Edit the serial address or UUID with the correct address/UUID for your PCB.

serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_50001B0004504D5930313920-if00

# Edit the I2C bus to match which sensors are connected to which connector on the PCB.
# Below is configured for BOTH air intake sensors wired to I2C1 (AKA SENSORS1 on the PCB),
# and BOTH exhaust sensors are wired to I2C2 (AKA SENSORS2 on the PCB).

# i2c_bus        | Connector
# i2c1_PB8_PB9   | SENSORS1
# i2c2_PB10_PB11 | SENSORS2

[temperature_sensor Max_BME_In]
sensor_type: BME280
i2c_address: 119
i2c_mcu: max
i2c_bus: i2c1_PB8_PB9

[temperature_sensor Max_BME_Out]
sensor_type: BME280
i2c_address: 119
i2c_mcu: max
i2c_bus: i2c2_PB10_PB11

[temperature_sensor Max_SGP_In]
sensor_type: SGP40
i2c_mcu: max
i2c_bus: i2c1_PB8_PB9
ref_temp_sensor: bme280 Max_BME_In
ref_humidity_sensor: bme280 Max_BME_In

[temperature_sensor Max_SGP_Out]
sensor_type: SGP40
i2c_mcu: max
i2c_bus: i2c2_PB10_PB11
ref_temp_sensor: bme280 Max_BME_Out
ref_humidity_sensor: bme280 Max_BME_Out

[fan_generic nevermore_max]
pin: max:PB14
tachometer_pin: max:PB15
tachometer_ppr: 2
cycle_time: 0.00004         # 25kHz for Sanyo Denki 9TD
hardware_pwm: True
kick_start_time: 0.5

# Uncomment below if using the Max PCB AND want to use the 3-pin fan header

# [fan_generic Nevermore_Aux]
# pin: max:PA1
# tachometer_pin: max:PA0
# tachometer_ppr: 2

[neopixel Nevermore_LED]
pin: max:PD3
chain_count: 16
color_order: GRB
initial_RED: 0
initial_GREEN: 1
initial_BLUE: 0
