
[include mainsail.cfg]
[include mcu.cfg]
[include xy_steppers.cfg]
[include z_steppers.cfg]
[include nitehawk-36.cfg]
[include toolhead.cfg]
[include bed.cfg]
[include sensors_fans.cfg]
[include max.cfg]
[include sfs2.cfg]
[include homing.cfg]
[include macros.cfg]
[include max_macros.cfg]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 8000
minimum_cruise_ratio: 0.5
max_z_velocity: 10
max_z_accel: 350
square_corner_velocity: 5.0

[force_move]
enable_force_move: True

[idle_timeout]
timeout: 1800
gcode:
    RESPOND MSG="Idle timeout reached"
    TURN_OFF_HEATERS
    M84

[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
shaper_freq_x: 63.4
shaper_type_x: mzv
damping_ratio_x: 0.055
shaper_freq_y: 41.6
shaper_type_y: mzv
damping_ratio_y: 0.075


[bed_mesh]
speed: 800                       # Fast travel speed between mesh points
horizontal_move_z: 2             # Beacon is safe to stay very close to the bed
mesh_min: 25, 25                 # Standard safe margin for a 350mm bed
mesh_max: 325, 325               # Adjust if your nozzle/probe offset allows more reach
probe_count: 50,50               # High density; Beacon handles this in one quick pass
algorithm: bicubic               # Required for mesh densities higher than 5x5


[shaketune]
result_folder: ~/printer_data/config/shaketune_results
# The folder where your .png and .csv files will be saved
number_of_results_to_keep: 18
keep_raw_data: False
show_macros_in_webui: True
timeout: 300

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4778607704961952,
#*# 	  1.8206573307578464,
#*# 	  0.8041373341494059,
#*# 	  0.4487652913664042,
#*# 	  0.40490064126553066,
#*# 	  0.11954660029666776,
#*# 	  -0.4209689528215964,
#*# 	  -0.1063831056888723,
#*# 	  0.3327918365127725,
#*# 	  0.11863964511799226
#*# model_domain = 1.8262742463113845e-07,1.9292298115144777e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 67.328463
#*# model_offset = 0.00000
