#####################################################################
# 	Thermistors & MCU Monitoring
#####################################################################

[thermistor NTC-10K_ldo]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 90

[temperature_sensor RaspberryPi]
sensor_type: temperature_host

[temperature_sensor Frame]
sensor_type: NTC-10K_ldo
sensor_pin: PF7                # Octopus T2

#####################################################################
# 	Chamber Temperature Control (Bed Fans)
#####################################################################

[heater_generic Chamber]
heater_pin: PD14                      # Bed Fan header 
max_power: 1.0
#pwm_cycle_time: 0.3
pwm_cycle_time: 0.00005

# Feedback Sensor: ATC Semitec 104GT-2 (Back-Right Gantry near A-motor)
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF6                # Octopus T1 
min_temp: 0
max_temp: 70

# PID Control Logic
# Logic: Ramps fan speed to maintain target air temperature.
control: pid 
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0

[verify_heater Chamber]
max_error: 120
check_gain_time: 120
hysteresis: 5
heating_gain: 1

#####################################################################
# 	Electronics & Lighting
#####################################################################

#[controller_fan controller_fan]
#pin: PD13
#kick_start_time: 0.5
#fan_speed: 1.0
#idle_timeout: 60


[temperature_fan electronics_bay]
pin: !PD13                 # Inverted per Nick Sherlock's MOSFET logic
hardware_pwm: True
cycle_time: 0.00004        # 25 kHz (Standard for PC Fans)
sensor_type: temperature_host
control: pid
min_temp: 10
max_temp: 85
target_temp: 50.0          # Keeps your Pi from hitting that 85C EOF crash
pid_Kp: 40
pid_Ki: 0.2
pid_Kd: 0.1
min_speed: 0.15            # Keeps a constant breeze over the Octopus drivers
max_speed: 1.0
# RPM Monitoring
tachometer_pin: ^PG11
tachometer_ppr: 2

[output_pin caselight]
pin: PB11
pwm: True
shutdown_value: 0
value: 60
scale: 100
cycle_time: 0.001
