[extruder]
# Sherpa Mini 8t motor: (50/8) * 22.678 (standard BMG) = ~141.73
rotation_distance: 22.678
gear_ratio: 50:8 
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.500
filament_diameter: 1.75
sensor_type: PT1000
pullup_resistor: 2200 
min_temp: 10
max_temp: 300
max_extrude_only_distance: 101
min_extrude_temp: 10

# --- Kalico MPC (Model Predictive Control) ---
control: mpc
heater_power: 55
cooling_fan: fan         # Usually your part cooling fan name
filament_diameter: 1.75
filament_density: 1.04   # Standard for ABS/ASA (use 1.25 for PLA)
filament_heat_capacity: 2.1  # Standard for ABS/ASA (use 1.8-2.0 for PLA)
block_heat_capacity=11.9903 # [J/K]
sensor_responsiveness=0.0970638 # [K/s/K]
ambient_transfer=0.0802117 # [W/K]
fan_ambient_transfer=0.0802117, 0.0951275, 0.107687 # [W/K]

[tmc2209 extruder]
run_current: 0.75

# --- Beacon 3D Rev H ---
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_4718ACD85157383837202020FF0A130F-if00
x_offset: 0 
y_offset: 22
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 180 # Safety for Beacon Contact
home_xy_position: 175, 175     # Center of 350mm bed
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home
home_gcode_post_x: _HOME_POST_AXIS AXIS=X
home_gcode_post_y: _HOME_POST_AXIS AXIS=Y

[resonance_tester]
accel_chip: beacon
probe_points: 175, 175, 20
